@page {
  size: B5 landscape; /* 257mm 182mm; /* B5 landscape */
  /* margin: 10mm 9mm 10mm 9mm; /* */
  margin: 0mm 0mm 10mm 0mm;
}
@media print {
  .no-print {
    display: none !important;
  }
  div.show_order {
    margin: 5mm 0mm 0mm !important;
  }
}
