<% n = 6 %>
<div class="datetime_selector" id="month_selector" >
	<div class="datetime_selector_header" >
<span >月</span>
	</div>
<% @datetime[:monthes].fold(n).each do |mm_list| %>
	<div class="datetime_selector_column" >
	<% mm_list.each do |mm| %>
		<%= button_tag(mm, type: :button, remote: true,
		    onClick: "orders.select_month(this);" ) %>
	<% end %>
	</div>
<% end %>
</div>
<div class="datetime_selector" id="day_selector" >
	<div class="datetime_selector_header" >
<span >日</span>
	</div>
<% @datetime[:days].fold(n).each do |dd_list| %>
	<div class="datetime_selector_column" >
	<% dd_list.each do |dd| %>
		<%= button_tag(dd, type: :button, remote: true,
		    onClick: "orders.select_day(this);" ) %>
	<% end %>
	</div>
<% end %>
</div>
<div class="datetime_selector" id="hour_selector" >
	<div class="datetime_selector_header" >
<span >時</span>
	</div>
<% @datetime[:hours].fold(n).each do |hh_list| %>
	<div class="datetime_selector_column" >
	<% hh_list.each do |hh| %>
		<%= button_tag(hh, type: :button, remote: true,
		    onClick: "orders.select_hour(this);" ) %>
	<% end %>
	</div>
<% end %>
</div>
<div class="datetime_selector" id="minute_selector" >
	<div class="datetime_selector_header" >
<span >分</span>
	</div>
<% @datetime[:minutes].fold(n).each do |mm_list| %>
	<div class="datetime_selector_column" >
	<% mm_list.each do |mm| %>
		<%= button_tag('%02d' % mm, type: :button, remote: true,
		    onClick: "orders.select_minute(this);" ) %>
	<% end %>
	</div>
<% end %>
</div>
