<div class="phone_selector_header" >
</div>
<div class="number_selector" >
<% @numbers_list.each do |numbers| %>
  <div class="number_selector_row" >
  <% numbers.each do |number, klasses| %>
    <%= button_tag(number, type: :button, remote: true,
        class: '%s' % klasses, disabled: (number == '-'),
        onClick: "orders.select_number(this);" ) %>
  <% end %>
  </div>
<% end %>
</div>
