<% ip = 0 %>
<% @products_list.each do |title_list| %>
  <% title_page_id = 'title-page-%d' % [ip += 1] %>
  <div id="<%= title_page_id %>" class="<%= ip == 1 ? 'current-title-page' : 'hidden' %>" >
  <% title_list.each do |title, products| %>
    <% title_button_id = 'title-button-%d' % [title.id] %>
    <% product_selector = '#title-%d' % [title.id] %>
    <% product_id = products.size == 1 ? products[0].id : 0 %>
    <% sold_out = products.size == 1 && products[0].remain == 0 %>
    <div class="title-button" >
      <%= button_tag(title.name, id: title_button_id, class: 'title-button',
          type: :button, remote: true, disabled: sold_out,
          onClick: "orders.select_title(this,'#{product_selector}',#{product_id});") %>
      <span class="sold-out" ><%= sold_out ? "SOLD OUT" : "" %></span>
    </div>
  <% end %>
  </div>
<% end %>
