<p id="notice"><%= notice %></p>
<!--
<h1>Editing Order</h1>
-->

<%= render 'form', order: @order %>

<!--
<%= link_to t('Show'), @order, class: 'link-show' %> |
<%= link_to t('Back'), orders_path, class: 'link-back' %>
-->
