<div class="no-print" >
<%= link_to t('.Edit'), edit_order_path(@order), class: 'link-edit' %>
<!--
｜
<%= link_to t('Back'), orders_path, class: 'link-back' %>
-->
</div>

<%= render 'show', destination: '①店舗控' %>

<div class="intercepter no-print" >
</div>

<%= render 'show', destination: '②お客様控' %>
