<div class="no-print" >
<%= link_to '予約修正', edit_order_path(@order), class: 'link-edit' %>
｜
<%= link_to '戻る', orders_path, class: 'link-back' %>
</div>

<%= render 'show', destination: '①店舗控' %>

<div class="intercepter no-print" >
</div>

<%= render 'show', destination: '②お客様控' %>
