.hidden {
	display: none;
}

// Chrome, Safari
input[type="number"].no-spin-button::-webkit-outer-spin-button,
input[type="number"].no-spin-button::-webkit-inner-spin-button {
    -webkit-appearance: none;
		margin: 0;
}
// Firefox, IE
input[type="number"].no-spin-button {
    -moz-appearance: textfield;
}

.center {
	text-align: center;
}

.limit {
	width: 4em;
}

.numeric {
	text-align: right;
}

.price {
	width: 6em;
}

.priority {
	width: 4em;
}

.remain {
	width: 4em;
}

