// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.activefield {
	border-color: #f00;
}
/* */

table.order-form {
	caption {
		font-size: x-large;
		text-align: center;
	}
	td label {
		display: inline;
	}
	td .mandatory {
		font-size: large;
	}
	input#order_address {
		width: 100%;
	}
}

table.order-index {
	tbody {
		td.name, td.phone {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
	tfoot {
		input#search {
			padding: 0.2em 2.0em 0.2em 2.0em;
		}
	}
	thead th {
		text-align: center;
	}
}

table.order-lineitems {
	.total_price {
		width: 100%
	}
	button.phrase {
		padding: 0.2em 0.5em 0.2em 0.5em;
	}
	input#order_total_price {
		font-size: large;
	}
	input#submit {
		width: 100%;
	}
	textarea#order_note {
		width: 100%;
	}
	th {
		text-align: center;
	}
	td.text_area {
		vertical-align: top;
	}
	td.payment {
		font-size: large;
	}
	td.phrases {
		vertical-align: top;
		button {
			margin: 0.1em 0.0em 0.1em 0.0em;
			text-align: left;
			width: 100%;
		}
	}
	td.selector {
		text-align: center;
		vertical-align: top;
		button {
			margin: 0.1em 0.0em 0.1em 0.0em;
			width: 90%;
		}
	}
	td#quantity_selector {
		button {
			padding: 0;
		}
	}
	td#title_page_selector {
		text-align: center;
	}
	tr.current_row {
		background-color: #f00;
	}
	tr#line_note {
		td {
			height: 0px;
			margin: 0px;
			padding: 0px;
		}
	}
}
