// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.activefield {
	border-color: #f00;
}
/* */

table.order-form {
	caption {
		font-size: x-large;
		text-align: center;
	}
	td label {
		display: inline;
	}
	td .mandatory {
		font-size: large;
	}
	input#order_address {
		width: 100%;
	}
}

table.order-index {
	tbody {
		td.name, td.phone {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
	tfoot {
		input#search {
			padding: 0.2em 2.0em 0.2em 2.0em;
		}
	}
	thead th {
		text-align: center;
	}
}

table.order-lineitems {
	th {
		text-align: center;
	}
	tbody {
		.total_price {
			width: 100%
		}
		textarea#order_note {
			width: 100%;
		}
		td.text_area {
			vertical-align: top;
		}
		tr.current_row {
			background-color: #f00;
		}
		tr#line_note {
			td {
				height: 0px;
				margin: 0px;
				padding: 0px;
			}
		}
	}
	tfoot {
		div.datetime_selector {
			display: inline-block;
			vertical-align: top;
			padding-left: 1em;
			padding-right: 1em;
		}
		div.datetime_selector_column {
			display: inline-block;
			vertical-align: top;
			button {
				display: block;
				margin: 0.1em 0.0em 0.1em 0.0em;
			}
		}
		div.datetime_selector_header {
			text-align: center;
		}
		input#order_total_price {
			font-size: large;
		}
		input#submit {
			width: 100%;
		}
		td {
			vertical-align: top;
			button {
				margin: 0.1em 0.0em 0.1em 0.0em;
			}
		}
		td.message {
			font-size: large;
			padding-top: 0.5em;
		}
		td.payment {
			font-size: large;
		}
		td.selector {
			text-align: center;
		}
		td.phrases {
			button {
				text-align: left;
				width: 100%;
			}
		}
		td.balance {
			input {
				width: 100%;
			}
		}
		td.product_selector {
			button {
				width: 90%;
			}
		}
		td.quantity_selector {
			button {
				width: 100%;
			}
		}
		td.size_selector {
			button {
				width: 90%;
			}
		}
		td.title_page_selector {
			vertical-align: bottom;
			button {
			}
		}
		td#datetime_selector {
			text-align: right;
		}
		td#order_total_price {
			margin: 0;
			padding: 0;
		}
		th {
			text-align: center;
			padding-bottom: 0;
			label {
				padding-bottom: 0;
			}
		}
//	tr#line_order_total {
//		td {
//			vertical-align: top;
//		}
//	}
	}
}
