// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.activefield {
  border-color: #f00;
}
/* */

:disabled {
  background-color: whitesmoke;
}

div.order-lineitems {
  position: relative;
  table.order-lineitems {
    position: relative;
  }
  div.names-panel {
    background-color: #fff;
    border: gray solid 1px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 0.3rem;
    button {
      margin-bottom: 0.3rem;
    }
  }
}

table.order-form {
  caption {
    font-size: x-large;
    text-align: center;
  }
  td.honorific {
    padding-right: 1.5rem;
  }
  td.order_phone {
    text-align: right;
  }
  td label {
    display: inline;
  }
  td .mandatory {
    font-size: large;
  }
  td .optional {
    font-size: large;
  }
  th {
    white-space: nowrap;
  }
  input {
    padding: 0.1rem 0.5rem;
  }
  input.due {
    width: 6.0rem;
  }
  input#order_address {
    width: 100%;
  }
  input#order_name {
    width: -moz-available;
  }
}

table.order-index {
  tbody {
    td.name, td.phone {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  tfoot {
    input#search {
      padding: 0.2em 2.0em 0.2em 2.0em;
    }
  }
  thead th {
    text-align: center;
  }
}

table.order-lineitems {
  position: relative;
  white-space: nowrap;
  input#submit {
    font-size: large;
    padding: 0.5rem;
  }
  th {
    text-align: center;
  }
  thead {
    th {
      padding: 2px 0px 2px;
    }
  }
  tbody {
    .total_price {
      /* width: 100% */
    }
    .shorten {
      background-color: tomato;
    }
    textarea#order_note {
      resize: none;
      width: 100%;
    }
    td {
      padding: 3px; /* override 0 5px 7px; in scaffolds.scss */
    }
    td.text_area {
      vertical-align: top;
    }
    tr.current-row {
      background-color: orange;
    }
    tr#line_note {
      td.empty-cell {
        height: 0px;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  tfoot {
    div.area_code_selector {
      display: inline-block;
      text-align: right;
      margin: 0.0rem 0.5rem;
      button {
        display: block;
        font-size: large;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1.0rem;
        text-align: left;
        width: 100%;
      }
    }
    div.datetime_selector {
      display: inline-block;
      vertical-align: top;
      padding-left: 1em;
      padding-right: 1em;
    }
    div.datetime_selector_column {
      display: inline-block;
      vertical-align: top;
      button {
        display: block;
        font-size: large;
        margin-bottom: 0.5rem;
        padding: 0.5rem 1.5rem;
      }
    }
    div.datetime_selector_header {
      padding-top: 0.4rem;
      text-align: center;
      vertical-align: bottom; /* efectless */
      span {
        text-align: center;
      }
    }
    div.number_selector {
      /* display: inline-block; */
    }
    div.number_selector_row {
      button {
        font-size: large;
        margin-bottom: 0.5rem;
        text-align: center;
      }
      button.number-button {
        padding: 0.5rem 0.0rem;
      }
    }
    div.selector {
      width: 100%;
      text-align: center;
      button {
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.0rem;
      }
      button:disabled {
        color: #777;
      }
    }
    div.quantity_selector {
      button {
        font-size: large;
        width: 100%;
      }
    }
    div.size_selector {
      button {
        width: 90%;
      }
    }
    div.title-buttons {
      position: relative;
      span.sold-out {
        color: tomato;
        font-weight: bold;
        position: absolute;
        bottom: 5px;
        right: 16px;
      }
    }
    div.title_page_selector {
      vertical-align: bottom;
      button {
        margin-bottom: 0.0rem;
        padding: 0.0rem 1.0rem;
      }
    }
    div.title_selector {
      button {
        width: 90%;
      }
    }
    input#submit {
      width: 100%;
    }
    input.order_means {
      vertical-align: text-bottom;
    }
    span.sold-out, span.order_payment, span.order_means {
      cursor: default;
    }
    td {
      vertical-align: top;
      button {
        white-space: nowrap;
      }
    }
    td.area_code_selector {
      text-align: right;
    }
    td.kana-panel {
      button {
        font-size: large;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.5rem;
      }
      div.kana-panel {
        width: -moz-fit-content;
        div.kana-table {
          div.kana-column {
            display: inline-block;
            min-width: 1.0rem;
            button {
              display: block;
            }
          }
        }
        div.kana-footer {
          padding-top: 0.5rem;
          text-align: center;
          button {
            margin-right: 4.0rem;
          }
          button.delete {
            width: 8rem;
          }
          button.white-space {
            width: 20rem;
          }
        }
      }
    }
    td.means {
      vertical-align: bottom;
      padding: 0px 3px 3px;
    }
    td.message {
      font-size: large;
      padding-top: 0.5em;
    }
    td.numbers_selector {
      text-align: center;
    }
    td.payment {
      font-size: large;
      font-weight: bold;
    }
    td.phrases {
      padding-top: 0.5rem;
      button {
        font-size: large;
        margin-bottom: 0.5rem;
        padding: 0.5rem 2.0rem;
        text-align: left;
        width: 100%;
      }
    }
    td.balance {
      input {
        width: 100%;
      }
    }
    td.datetime_selector {
      text-align: right;
    }
    td.order_total_price {
      padding: 3px;
      input {
        font-size: large;
        font-weight: bold;
        width: 100%;
      }
    }
    textarea#message {
      border-width: 0;
      resize: none;
      width: 100%;
    }
    th {
      text-align: center;
      vertical-align: bottom;
      padding-bottom: 0;
      label.currency {
        padding-bottom: 0;
        padding-right: 0.5rem;
      }
    }
  }
}

div.intercepter {
  display: inline-block;
  width: 5mm
}

div.show_order {
  display: inline-block;
  position: relative;
  width: 110mm;
  div.caption {
    font-size: 16pt;
    font-weight: bold;
    position: relative;
    top: 10pt;
    text-align: center;
  }
  table.show_order_header {
    table-layout: fixed;
    margin-bottom: 5.0mm;
    white-space: nowrap;
    td {
      padding: 0.1rem 0.5rem; /* overwrite scaffolds '0 5px 7px' */
    }
    td.caption {
      width: 100%;
    }
    td.destination {
      text-align: right;
    }
    td.id {
      border-bottom: solid black 1pt;
      text-align: center;
    }
    td.id_label {
      text-align: left;
    }
  }
  table.show_order {
    table-layout: fixed;
    margin-bottom: 3.0mm;
    white-space: nowrap;
    td {
      padding: 3pt; /* overwrite scaffolds '0 5px 7px' */
    }
    td.field {
      font-size: 14pt;
      font-weight: bold;
      padding-left: 10pt;
      width: 100%;
      span {
        font-size: 10.5pt;
        vertical-align: text-base;
      }
    }
    tr {
      border-bottom: solid black 1pt;
    }
    tr.due {
      background: wheat;
      td {
        padding-top: 5pt;
        padding-bottom: 5pt;
      }
    }
  }
  table.show_order_line_items {
    border-collapse: collapse;
    margin-bottom: 2.0mm;
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
    td {
      border: solid black 0.75pt;
      padding: 1pt 3pt; /* overwrite scaffolds '0 5px 7px' */
    }
    thead {
      td {
        font-size: 8pt;
        padding: 1pt 3pt;
        text-align: center;
      }
      td.product {
        width: 50%;
      }
      td.size {
        width: 25%;
      }
      td.quantity {
        width: 10%;
      }
      td.price {
        width: 15%;
      }
    }
    tbody {
      td.product {
        padding-left: 6pt;
        text-align: left;
      }
      td.size {
        text-align: center;
      }
      td.quantity {
        text-align: right;
      }
      td.price {
        text-align: right;
      }
    }
    tfoot {
      .circle {
        border: solid black 1pt;
        border-radius: 8pt;
      }
      td.blank_cell {
        height: 25mm;
      }
      td.means {
        border-left: none;
        height: 18pt;
        text-align: center;
      }
      td.means_label {
        border-right: none;
        text-align: center;
      }
      td.note_head {
        border-bottom: none;
      }
      td.note {
        border-top: none;
        padding-left: 6pt;
        white-space: pre-wrap;
      }
      td.payment {
        border-left: none;
        height: 18pt;
        text-align: center;
        div.payment {
          display: inline-block;
          width: 18pt;
        }
      }
      td.payment_label {
        border-right: none;
        text-align: center;
      }
      td.total_price {
        border: solid black 1pt;
        font-size: 14pt;
        font-weight: bold;
        padding-top: 2pt;
        padding-bottom: 2pt;
        text-align: right;
        span {
          font-size: 10.5pt;
        }
      }
      td.total_price_label {
        font-weight: bold;
        text-align: center;
      }
    }
  }
  table.show_order_footer {
    border-collapse: collapse;
    /* table-layout: fixed; */
    width: 100%;
    white-space: nowrap;
    img#logo_bw {
      width: 35mm;
    }
    td {
      padding: 0;
    }
    td.logo_bw {
      vertical-align: bottom;
    }
    td.store_descriptions {
      font-size: 7pt;
      line-height: 9pt;
      padding: 0 1pt;
      vertical-align: bottom;
    }
    td.store_name {
      font-size: 10.5pt;
      font-weight: bold;
      padding: 0 1pt 1pt;
      span.prefix {
        font-size: 8pt;
        font-weight: normal;
      }
    }
    td.comment {
      font-size: 6.5pt;
      vertical-align: top;
    }
    td.tantou {
      font-size: 8pt;
      border: solid black 0.75pt;
      text-align: center;
      vertical-align: top;
      width: 15mm;
    }
    td.order_date {
      border-bottom: solid black 0.75pt;
      font-size: 7pt;
      text-align: center;
      span {
        font-size: 6pt;
      }
    }
  }
}
